@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: rgb(21, 47, 131);
}

*{
    box-sizing: border-box;
    outline: 0;

}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    
}

h2{
    font-size: 1.0em;
}

p{
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;

}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;

    
} 

form button:hover{
    
    background: rgb(64, 100, 218);
    
}

.paragrafo-resultado, .bad {
    background-color: green;
    padding: 10px 20px;
}

.bad {
    background: red;
}